<a href="https://colab.research.google.com/github/josh-shah/josh-shah.github.io/blob/main/MKT_VALUEvsWAGESMERGE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv('2022-11-15_Squads_GB1.csv')
df2=pd.read_csv('capology_clean.csv',skiprows=1)

In [ ]:
df1.head(3)

,player_id,player,club_id,club,main_position,market_value,market_value_GBP
0,111455,Granit Xhaka,11,Arsenal FC,Central Midfield,"€ 28,000,000.00","£24,640,000"
1,112988,Cédric Soares,11,Arsenal FC,Right-Back,"€ 4,000,000.00","£3,520,000"
2,160438,Mohamed Elneny,11,Arsenal FC,Defensive Midfield,"€ 9,000,000.00","£7,920,000"

In [ ]:
df2.head(3)

,Unnamed: 0,0,Player,weekly_wage,Pos. DFKM,Pos. AMCBCFCMDMGKLBLWRBRMRW,Age,Country,Team,Premier League,2022-2023
0,0,1,Gabriel Jesus,"£265,000.00",F,CF,25,Brazil,Arsenal,Premier League,2022-2023
1,1,2,Thomas Partey,"£200,000.00",M,DM,29,Ghana,Arsenal,Premier League,2022-2023
2,2,3,Oleksandr Zinchenko,"£150,000.00",D,LB,25,Ukraine,Arsenal,Premier League,2022-2023

In [ ]:
len(df1),len(df2)

(510, 451)

In [ ]:
df1=df1.set_index('player')
df2=df2.set_index('Player')

In [ ]:
set(df1.index).difference(set(df2.index)) #players in df1 but not in df2

{'Aaron Hickey',
 'Adnan Kanuric',
 'Ainsley Maitland-Niles',
 'Aleksandar Mitrović',
 'Armel Bella-Kotchap',
 'Arthur Melo',
 'Ben Mee',
 'Bernd Leno',
 'Billy Gilmour',
 'Boubacar Traoré',
 'Brenden Aaronson',
 'Caoimhín Kelleher',
 'Carlos Vinícius',
 'Cheick Doucouré',
 'Cheikhou Kouyaté',
 'Chris Richards',
 'Deniz Undav',
 'Duje Caleta-Car',
 'Emerson Royal',
 'Emmanuel Dennis',
 'Gavin Bazunu',
 'Giulian Biancone',
 'Gonçalo Guedes',
 'Harry Toffolo',
 'Issa Diop',
 'Jeremy Sarmiento',
 'Joe Aribo',
 'Joel Robles',
 'Josh Dasilva',
 'João Palhinha',
 'Juan Larios',
 'Julio Enciso',
 'Kaoru Mitoma',
 'Keane Lewis-Potter',
 'Kevin Mbabu',
 'Levi Colwill',
 "Lewis O'Brien",
 'Luis Sinisterra',
 'Malcolm Ebiowei',
 'Manor Solomon',
 'Marc Roca',
 'Martin Dúbravka',
 'Mason Greenwood',
 'Mikkel Damsgaard',
 'Morgan Gibbs-White',
 'Moussa Niakhaté',
 'Nathan Collins',
 'Neco Williams',
 'Omar Richards',
 'Orel Mangala',
 'Pape Matar Sarr',
 'Pervis Estupiñán',
 'Rasmus Kristensen',
 'Remo Freuler',
 'Roméo Lavia',
 'Sam Johnstone',
 'Samuel Edozie',
 'Sasa Kalajdzic',
 'Serge Aurier',
 'Stefan Ortega',
 'Sékou Mara',
 'Taiwo Awoniyi',
 'Thomas Strakosha',
 'Toti',
 'Tyler Adams',
 'Wayne Hennessey',
 'Wilfried Gnonto',
 'Willian',
 'Willy Boly',
 'Zanka'}

In [ ]:
set(df2.index).difference(set(df1.index)) #players in df2 but not in df1

{'Aleksandar Mitrovic',
 'Arthur',
 'Caoimhin Kelleher',
 'Chem Campbell',
 'Joshua Da Silva',
 'Keinan Davis',
 'Martin Dubravka',
 'Shola Shoretire',
 'Stefan Ortega Moreno',
 'Toti Gomes'}

In [ ]:
df3 = df1.join(df2,how='inner') #only the overlapping

In [ ]:
df3

,player_id,club_id,club,main_position,market_value,market_value_GBP,Unnamed: 0,0,weekly_wage,Pos. DFKM,Pos. AMCBCFCMDMGKLBLWRBRMRW,Age,Country,Team,Premier League,2022-2023
Aaron Cresswell,92571,379,West Ham United,Left-Back,"€ 2,500,000.00","£2,200,000",517,17,"£50,000.00",D,LB,32,England,West Ham,Premier League,2022-2023
Aaron Ramsdale,427568,11,Arsenal FC,Goalkeeper,"€ 30,000,000.00","£26,400,000",11,12,"£60,000.00",K,GK,24,England,Arsenal,Premier League,2022-2023
Aaron Wan-Bissaka,477758,985,Manchester United,Right-Back,"€ 18,000,000.00","£15,840,000",369,17,"£90,000.00",D,RB,24,England,Manchester United,Premier League,2022-2023
Abdoulaye Doucouré,127187,29,Everton FC,Central Midfield,"€ 12,000,000.00","£10,560,000",187,1,"£120,000.00",M,CM,29,Mali,Everton,Premier League,2022-2023
Adam Armstrong,250426,180,Southampton FC,Centre-Forward,"€ 15,000,000.00","£13,200,000",455,8,"£47,885.00",F,CF,25,England,Southampton,Premier League,2022-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yerry Mina,289446,29,Everton FC,Centre-Back,"€ 18,000,000.00","£15,840,000",189,3,"£120,000.00",D,CB,27,Colombia,Everton,Premier League,2022-2023
Yerson Mosquera,716276,543,Wolverhampton Wanderers,Centre-Back,"€ 3,000,000.00","£2,640,000",543,17,"£7,308.00",D,CB,21,Colombia,Wolverhampton,Premier League,2022-2023
Yoane Wissa,388165,1148,Brentford FC,Left Winger,"€ 15,000,000.00","£13,200,000",97,15,"£11,923.00",F,LW,25,Democratic Republic of the Congo,Brentford,Premier League,2022-2023
Youri Tielemans,249565,1003,Leicester City,Central Midfield,"€ 40,000,000.00","£35,200,000",290,20,"£35,000.00",M,CM,25,Belgium,Leicester,Premier League,2022-2023
Yves Bissouma,410425,148,Tottenham Hotspur,Central Midfield,"€ 32,000,000.00","£28,160,000",490,17,"£55,000.00",M,CM,26,Mali,Tottenham,Premier League,2022-2023

In [ ]:
exported_values = list(df3.T.to_dict().values() )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  """Entry point for launching an IPython kernel.

In [ ]:
import csv

In [ ]:
from google.colab import files

df3.to_csv('MKT_VALUEvsWAGES.csv', encoding = 'utf-8-sig') 
files.download('MKT_VALUEvsWAGES.csv')

In [ ]:
df1.join(df2,how='outer') #everyone

,player_id,club_id,club,main_position,market_value,market_value_GBP,Unnamed: 0,0,weekly_wage,Pos. DFKM,Pos. AMCBCFCMDMGKLBLWRBRMRW,Age,Country,Team,Premier League,2022-2023
Aaron Cresswell,92571.0,379.0,West Ham United,Left-Back,"€ 2,500,000.00","£2,200,000",517.0,17.0,"£50,000.00",D,LB,32.0,England,West Ham,Premier League,2022-2023
Aaron Hickey,591949.0,1148.0,Brentford FC,Left-Back,"€ 18,000,000.00","£15,840,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aaron Ramsdale,427568.0,11.0,Arsenal FC,Goalkeeper,"€ 30,000,000.00","£26,400,000",11.0,12.0,"£60,000.00",K,GK,24.0,England,Arsenal,Premier League,2022-2023
Aaron Wan-Bissaka,477758.0,985.0,Manchester United,Right-Back,"€ 18,000,000.00","£15,840,000",369.0,17.0,"£90,000.00",D,RB,24.0,England,Manchester United,Premier League,2022-2023
Abdoulaye Doucouré,127187.0,29.0,Everton FC,Central Midfield,"€ 12,000,000.00","£10,560,000",187.0,1.0,"£120,000.00",M,CM,29.0,Mali,Everton,Premier League,2022-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yerson Mosquera,716276.0,543.0,Wolverhampton Wanderers,Centre-Back,"€ 3,000,000.00","£2,640,000",543.0,17.0,"£7,308.00",D,CB,21.0,Colombia,Wolverhampton,Premier League,2022-2023
Yoane Wissa,388165.0,1148.0,Brentford FC,Left Winger,"€ 15,000,000.00","£13,200,000",97.0,15.0,"£11,923.00",F,LW,25.0,Democratic Republic of the Congo,Brentford,Premier League,2022-2023
Youri Tielemans,249565.0,1003.0,Leicester City,Central Midfield,"€ 40,000,000.00","£35,200,000",290.0,20.0,"£35,000.00",M,CM,25.0,Belgium,Leicester,Premier League,2022-2023
Yves Bissouma,410425.0,148.0,Tottenham Hotspur,Central Midfield,"€ 32,000,000.00","£28,160,000",490.0,17.0,"£55,000.00",M,CM,26.0,Mali,Tottenham,Premier League,2022-2023
Zanka,52059.0,1148.0,Brentford FC,Centre-Back,"€ 1,500,000.00","£1,320,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN