<a href="https://colab.research.google.com/github/josh-shah/josh-shah.github.io/blob/main/PROJECT_GoogleTrends_WorldPLMap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pytrends

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pytrends
  Downloading pytrends-4.8.0.tar.gz (19 kB)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.8/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.8/dist-packages (from pytrends) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from pytrends) (4.9.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->pytrends) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->pytrends) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (2022.12.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0->pytrends) (1.24.3)
Building wheels for collected packages: pytrends
  Building wheel for pytrends (setup.py) ... done
  Created wheel for pytrends: filename=pytrends-4.8.0-py3-none-any.whl size=16127 sha256=fa1961009efa8988fd85c03c59138f19573aa7ac0c540926a57163bae1000427
  Stored in directory: /root/.cache/pip/wheels/e8/78/c8/18d4f4804753e14416809b365773220c48b41fe5387f2bb6b9
Successfully built pytrends
Installing collected packages: pytrends
Successfully installed pytrends-4.8.0

In [ ]:
import pandas as pd

#Import TrendReq to connect to Google
from pytrends.request import TrendReq

#Use exact keyword codes (found in https://colab.research.google.com/drive/1lTSIMgRJMBXQMXSvKt-CDEE_zunOsZEF#scrollTo=VC_k3IiFTwXx) to avoid ambiguity, trying Team names led to inaccurate results. 
list1=['/m/050fh','/m/0xbm','/m/04ltf	','/m/023fb	','/m/01634x'] #Man U, Arsenal, Liverpool, Chelsea, Man City

pytrends1=TrendReq()  

#build payload for both the lists and pass parameters to filter the data for trend comparison based on our requirements
pytrends1.build_payload(list1,timeframe='today 12-m')

df1=pytrends1.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=True)

In [ ]:
df1

               geoCode  /m/050fh  /m/0xbm\t  /m/04ltf\t  /m/023fb\t  /m/01634x
geoName
Afghanistan         AF        36          7          21          16         20
Albania             AL        25          9          29          18         19
Algeria             DZ        17          4          19           8         52
American Samoa      AS         0          0           0           0          0
Andorra             AD        24          7          19          18         32
...                ...       ...        ...         ...         ...        ...
Western Sahara      EH        20          6          28          22         24
Yemen               YE        22          7          39          12         20
Zambia              ZM        28         13          20          21         18
Zimbabwe            ZW        26         14          22          20         18
Ã…land Islands       AX        18         16          43          13         10

[250 rows x 6 columns]

In [ ]:
df1.rename(columns = {'/m/050fh':'Manchester United','/m/0xbm\t':'Arsenal','/m/04ltf\t':'Liverpool','/m/023fb\t':'Chelsea','/m/01634x':'Manchester City'}, inplace = True)

In [ ]:
df1

,geoCode,Manchester United,Arsenal,Liverpool,Chelsea,Manchester City
geoName,,,,,,
Afghanistan,AF,36,7,21,16,20
Albania,AL,25,9,29,18,19
Algeria,DZ,17,4,19,8,52
American Samoa,AS,0,0,0,0,0
Andorra,AD,24,7,19,18,32
...,...,...,...,...,...,...
Western Sahara,EH,20,6,28,22,24
Yemen,YE,22,7,39,12,20
Zambia,ZM,28,13,20,21,18
Zimbabwe,ZW,26,14,22,20,18
Ã…land Islands,AX,18,16,43,13,10

In [ ]:
exported_values = list(df1.T.to_dict().values() )

In [ ]:
import csv

In [ ]:
from google.colab import files

df1.to_csv('mostpopularteams_project.csv', encoding = 'utf-8-sig') 
files.download('mostpopularteams_project.csv')

In [ ]:
#South Korea is the only country which has a most popular team outside of these top 5 (Tottenham Hotspur) with a score of 30. We will manually change this in the final dataset.